#heading {background-color: rgb(156, 156, 255);}
#white {color:white}
#blue {color:blue}
#macaroni {color:sandybrown ;}
#greenbg {background-color: lightgreen;}

.black {color:black}
.yellow {background-color: yellow;}
.red {color:red}
.bold {font-weight: bold;}
.green {background-color: green;}
.yellowtxt {color:yellow}

a {color:green; text-decoration: none;}

a:hover {color:red; text-decoration: underline;}
